<div class="container-fluid">
    <div class="card">
        <div class="card-title">
            <h3>Desarrolladores</h3>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="" >
                        <div class="card-title">
                            <h4>Josué David Arce González</h4>
                        </div>
                        <div class="body">
                            <p>
                                Estudiante del Instituto Tecnológico de Costa Rica, sede San Carlos <br>
                                mi plataforma favorita para programar es web, especificamente JavaScript <br>
                                mi meta es poder graduarme y tener un trabajo digno.
                            </p>
                        </div>
                        <hr>
                        <div class="footer-a">
                            <p><strong>Formas de contactarme:</strong></p>
                            <h5>Email:</h5><p>j-david-10@hotmail.com</p>
                            <h5>Teléfono:</h5><p>83629162</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="" >
                        <div class="card-title">
                            <h4>Pamela Varela Alfaro</h4>
                        </div>
                        <div class="body">
                            <p>
                                Estudiante del Instituto Tecnológico de Costa Rica, sede San Carlos <br>
                                soy amante de la plataforma web, me apasiona desarrollar aplicaciones en esta area <br>
                                deseo graduarme y poder explotar mis conocimientos en alguna empresa.
                            </p>
                        </div>
                        <hr>
                        <div class="footer-a">
                            <p><strong>Formas de contactarme:</strong></p>
                            <h5>Email:</h5><p>varelapamela6@gmail.com</p>
                            <h5>Teléfono:</h5><p>87639559</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-a">

        </div>
    </div>
</div>